{namespace charts=Tx_SpCharts_ViewHelpers}

<f:layout name="Backend" />

<f:section name="main">

	<h2><f:translate key="title" /></h2>
	<div style="padding-top: 5px;"></div>

	<f:if condition="{settings.type}">
		<f:then>

			<h3 class="uppercase"><charts:spriteIcon name="spcharts-{settings.type}" />&nbsp;<f:translate key="title_{settings.type}" /></h3>
			<charts:chart type="{settings.type}" configuration="{settings}">{sets}</charts:chart>
			<br class="clear" />

		</f:then>
		<f:else>

			<h3 class="uppercase"><charts:spriteIcon name="spcharts-bar" />&nbsp;<f:translate key="title_bar" /></h3>
			<charts:chart type="bar">{sets}</charts:chart>
			<br class="clear" />

			<div style="padding-top: 24px;"></div>
			<h3 class="uppercase"><charts:spriteIcon name="spcharts-column" />&nbsp;<f:translate key="title_column" /></h3>
			<charts:chart type="column">{sets}</charts:chart>
			<br class="clear" />

			<div style="padding-top: 24px;"></div>
			<h3 class="uppercase"><charts:spriteIcon name="spcharts-donut" />&nbsp;<f:translate key="title_donut" /></h3>
			<charts:chart type="donut" configuration="{borderColor: '#F8F8F8'}">{sets}</charts:chart>
			<br class="clear" />

			<div style="padding-top: 24px;"></div>
			<h3 class="uppercase"><charts:spriteIcon name="spcharts-line" />&nbsp;<f:translate key="title_line" /></h3>
			<charts:chart type="line">{sets}</charts:chart>
			<br class="clear" />

			<div style="padding-top: 24px;"></div>
			<h3 class="uppercase"><charts:spriteIcon name="spcharts-pie" />&nbsp;<f:translate key="title_pie" /></h3>
			<charts:chart type="pie" configuration="{borderColor: '#F8F8F8'}">{sets}</charts:chart>
			<br class="clear" />

		</f:else>
	</f:if>

</f:section>